body {
    background-color: #E5E5E5;
    font-family: Arial, sans-serif;
  }
  h1 {
    text-align: center;
    margin: 50px;
  }
  form {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
  input[type="text"] {
    padding: 10px;
    font-size: 18px;
    width: 60%;
    border-radius: 5px;
    border: none;
    margin-right: 10px;
  }
  input[type="submit"] {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #333;
    color: #FFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 50px auto;
    width: 60%;
  }
  li {
    background-color: #FFF;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #333;
  }
  .done {
    text-decoration: line-through;
    color: #AAA;
  }